<html>
<head>
    <title>WeatherAPP</title>
</head>
<body>
    <div class="form">
            <form action ="/weatherdata" method="POST">
            <label for="place">Place</label>
            <input type="text" id="Place" name="Place">
            <label for="units">Units</label>
            <input type="text" id="Units" name="Units">
            <label for="Appid">Appid</label>
            <input type="text" id="Appid" name="Appid">
            <input type="submit" value="Submit">
            </form>
        </div>
        
        </body>
</html>